<%- include ./layouts/cabeza.ejs %>
  <link rel="stylesheet" href="/stylesheets/components.css">
  <link rel="stylesheet" href="/stylesheets/menuPrincipal/menuPrincipalContent.css">
  <%- include ./layouts/cabecera.ejs %>

    <%- include ./layouts/menu-lateral.ejs%>

      <main class="page-content" id="page-content">

        <header class="header-page-content">
          <h1>Bienvenido, <%= user[0]['nombre']%></h1>
        </header>
        
        <div class="page-content-container">
          <section class="result-area">
            <article class="card-result col-12 col-md-6 col-lg-4">
              <div class="card-result-container">
                <div class="group-header">
                  <div class="card-result-foto">
                    <span class="icon-option">
                      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="currentColor">
                        <path
                          d="M2.1 42v-4.6q0-1.7.8-2.825.8-1.125 2.25-1.825 2.7-1.3 5.775-2.15 3.075-.85 6.975-.85 3.9 0 6.975.85 3.075.85 5.775 2.15 1.45.7 2.25 1.825t.8 2.825V42Zm15.8-15.25q-3.3 0-5.4-2.15-2.1-2.15-2.1-5.35h-.5q-.4 0-.7-.3-.3-.3-.3-.7 0-.4.3-.7.3-.3.7-.3h.5q0-2 1-3.6t2.6-2.6V13q0 .3.225.525.225.225.525.225.35 0 .55-.225.2-.225.2-.525v-2.6q.4-.1 1.1-.175.7-.075 1.35-.075.65 0 1.35.075.7.075 1.1.175V13q0 .3.2.525.2.225.55.225.3 0 .525-.225.225-.225.225-.525v-1.95q1.6 1 2.55 2.6.95 1.6.95 3.6h.5q.4 0 .7.3.3.3.3.7 0 .4-.3.7-.3.3-.7.3h-.5q0 3.2-2.1 5.35-2.1 2.15-5.4 2.15Zm0-3q2.1 0 3.3-1.25 1.2-1.25 1.2-3.25h-9q0 2 1.2 3.25t3.3 1.25Zm15.1 6.2-.1-1.45q-.35-.2-.725-.45t-.675-.5l-1.3.7-1.1-1.6 1.3-.95q-.1-.2-.1-.375v-.75q0-.175.1-.375l-1.3-.95 1.1-1.6 1.3.7.7-.5q.35-.25.7-.45l.1-1.45h2l.1 1.45q.35.2.7.45l.7.5 1.3-.7 1.1 1.6-1.3.95q.1.2.1.375v.75q0 .175-.1.375l1.3.95-1.1 1.6-1.3-.7q-.3.25-.675.5-.375.25-.725.45l-.1 1.45Zm1-3.1q.8 0 1.35-.55t.55-1.35q0-.8-.55-1.35T34 23.05q-.8 0-1.35.55t-.55 1.35q0 .8.55 1.35t1.35.55Zm4.4-7.75-.45-1.75q-.5-.2-1.025-.55-.525-.35-.875-.75l-2.2.8-1-1.75 1.75-1.4q-.1-.25-.175-.55-.075-.3-.075-.6t.075-.6q.075-.3.175-.55L32.85 10l1-1.75 2.2.8q.35-.4.875-.775t1.025-.525L38.4 6h1.9l.45 1.75q.5.15 1.025.525.525.375.875.775l2.2-.8 1 1.75-1.75 1.4q.1.25.175.55.075.3.075.6t-.075.6q-.075.3-.175.55l1.75 1.4-1 1.75-2.2-.8q-.35.4-.875.75t-1.025.55l-.45 1.75Zm.95-3.65q1.25 0 2.075-.825.825-.825.825-2.075 0-1.25-.825-2.075-.825-.825-2.075-.825-1.25 0-2.075.825-.825.825-.825 2.075 0 1.25.825 2.075.825.825 2.075.825Z" />
                      </svg>
                    </span>
                  </div>
                  <header class="card-result-header">
                    <h2>Mantenimiento</h2>
                  </header>
                </div>
                <div class="card-result-options">
                  <a class="text-option" href="/users">Usuarios</a>
                  <a class="text-option" href="/clients">Clientes</a>
                  <a class="text-option" href="/suppliers">Suplidores</a>
                  <a class="text-option" href="/products">Productos</a>
                  <a class="text-option" href="/materials">Materiales</a>
                </div>
              </div>
            </article>
            <article class="card-result col-12 col-md-6 col-lg-4">
              <div class="card-result-container">
                <div class="group-header">
                  <div class="card-result-foto">
                    <span class="icon-option">
                      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="currentColor">
                        <path
                          d="M24.2 42q.4 0 .7-.1.3-.1.7-.5l16.65-16.7q.85-.85 1.3-1.875Q44 21.8 44 20.8q0-1.45-.425-2.55-.425-1.1-1.325-2l-8.45-8.5q-.9-.9-2-1.325Q30.7 6 29.4 6q-1.05 0-2.1.425T25.4 7.65l-.3.35 8.95 8.95q.65.65.925 1.325.275.675.275 1.375 0 1.75-1.1 2.775t-2.7 1.025q-.95 0-1.625-.375T28.6 22.15l-6.35-6.35L11.1 26.95q-.3.3-.45.65-.15.35-.15.75 0 .85.575 1.4.575.55 1.425.55.5 0 .85-.15t.6-.4l9.2-9.25 1.05 1.05-9.25 9.25q-.3.3-.45.65-.15.35-.15.75 0 .8.6 1.4.6.6 1.4.6.45 0 .8-.15.35-.15.65-.45l9.25-9.2 1.05 1.05-9.25 9.25q-.25.25-.4.575-.15.325-.15.825 0 .85.575 1.425.575.575 1.425.575.4 0 .75-.15t.65-.45l9.25-9.25L32 29.3l-9.25 9.25q-.3.3-.45.675-.15.375-.15.725 0 .85.6 1.45t1.45.6ZM8.45 27.4 22.2 13.65l7.4 7.4q.45.45.925.675.475.225.925.225 1 0 1.65-.65.65-.65.65-1.65 0-.4-.175-.8T32.95 18L22.7 7.75q-1-1-2.05-1.375Q19.6 6 18.25 6q-1.05 0-2.15.475-1.1.475-1.9 1.275l-8.45 8.5Q5 17 4.5 18.1T4 20.5q0 1.2.45 2.3.45 1.1 1.3 1.9Z" />
                      </svg>
                    </span>
                  </div>
                  <header class="card-result-header">
                    <h2>Acciones</h2>
                  </header>
                </div>
                <div class="card-result-options">
                  <a class="text-option" href="/entries">Registrar entrada</a>
                  <a class="text-option" href="/sales">Registrar salida</a>
                  <a class="text-option" href="/quote">Crear cotización</a>
                </div>
              </div>
            </article>
            <article class="card-result col-12 col-md-6 col-lg-4">
              <div class="card-result-container">
                <div class="group-header">
                  <div class="card-result-foto">
                    <span class="icon-option">
                      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="currentColor">
                        <path
                          d="M6 42v-3.8l3-3V42Zm8.25 0V30.2l3-3V42Zm8.25 0V27.2l3 3.05V42Zm8.25 0V30.25l3-3V42ZM39 42V22.2l3-3V42ZM6 30.2v-4.25l14-13.9 8 8L42 6v4.25L28 24.3l-8-8Z" />
                      </svg>
                    </span>
                  </div>
                  <header class="card-result-header">
                    <h2>Reportes</h2>
                  </header>
                </div>
                <div class="card-result-options">
                  <a class="text-option" href="/reports/">Generar reportes</a>
                </div>
              </div>
            </article>
          </section>
        </div>
      </main>

      <%- include ./layouts/pie.ejs%>