<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/components.css">
<link rel="stylesheet" href="/stylesheets/transactionView.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<%- include ../layouts/messages.ejs%>

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <header>
      <h1>Registrar entrada</h1> 
    </header>

    <form method="post" action="/entries/registerEntrie" id="formulario">

      <section class="col-md-6">
        <div class="form-container-flex">
          <div class="field col-6">
            <label class="field-label" for="suplidor">Suplidor:</label>
            <select class="field-input" name="suplidor" id="suplidores" required>
              <option value="">Seleccione una opción</option>
              <% for( let suplidor = 0; suplidor < suppliers.length; suplidor++ ) { %>
                <option value="<%=suppliers[suplidor].codigo%>"><%=suppliers[suplidor].nombre%></option>
              <% } %>
            </select>
          </div>
          <div class="field col-6">
            <label class="field-label" for="material">Material:</label>
            <select class="field-input" name="material" id="materiales" required>
              <option value="">Seleccione una opción</option>
              <% for( let material = 0; material < materials.length; material++ ) { %>
                <option value="<%=materials[material].codigo%>"><%=materials[material].nombre%></option>
              <% } %>
            </select>
          </div>
          <div class="field col-6">
            <label class="field-label" for="cantidad">Cantidad:</label>
            <input class="field-input" id="cantidad" type="number" min="1" pattern="^[0-9]+" name="cantidad">
          </div>
          <div class="field col-6">
            <label class="field-label" for="monto">Monto:</label>
            <input class="field-input" id="monto" type="number" name="monto" step="0.01" min="0" pattern="^[0-9]+">
          </div>
        </div>
        <div class="item-flex">
          <button class="button-new" type="button" id="button">
            <span class="button-new-icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                <path d="M11.075 18.8v-5.875H5.2V11.05h5.875V5.175h1.875v5.875h5.875v1.875H12.95V18.8Z"></path>
              </svg>
              <span class="button-new-text">Agregar</span>
           </span>
          </button>
          <div class="total-amount">
            <p>Total: $<input name="totalAmount" id="totalAmount" value="" type="text" class="input-total-amount" readonly></p>
          </div>
        </div>
      </section>
  
      <section class="result-area" id="resultArea">
  
      </section>
  
      <div id="button-register" class="buttons-container">
        <button class="button-form button-primary" type="submit">Registrar entrada</button>
      </div>

    </form>
  </div>
</main>

<script src="/javascripts/entriesValidation.js"></script>
<script src="/javascripts/message.js"></script>
<%- include ../layouts/pie.ejs%> 
