<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/components.css">
<link rel="stylesheet" href="/stylesheets/form.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <header>
      <h1>Cambiar contraseña</h1> 
    </header>

    <section class="col-md-6">
      <form action="#" class="form">
        <div class="field">
          <label class="field-label" for="password">Contraseña anterior:</label>
          <input class="field-input" type="password" name="password" required>
        </div>
        <div class="field">
          <label class="field-label" for="re-password">Contraseña nueva:</label>
          <input class="field-input" type="password" name="re-password" required>
        </div>
        <div class="field">
          <label class="field-label" for="re-password">Repita la nueva contraseña:</label>
          <input class="field-input" type="password" name="re-password" required>
        </div>
        <div class="buttons-container">
          <a href="/users/myUserProfile?codigo=<%= user[0].codigo %> " class="button-form" type="button">Cancelar</a>
          <button class="button-form button-primary" type="submit">Guardar</button>
        </div>
      </form>
    </section>

    <div class="note-box col-md-10">
      <p>Las contraseñas deben cumplir con los siguientes requisitos:</p>
      <ul>
        <li>Deben tener por lo menos 8 carácteres.</li>
        <li>Deben ser una combinación de por lo menos tres de los siguientes tipos de carácteres: mayúsculas, minúsculas, números y signos de puntuación.</li>
        <li>No deben contener caracteres repetidos o secuencias de caracteres tales como 1234, 2222, ABCD o letras adyacentes del teclado.</li>
        <li>No pueden estar basadas en su nombre ni en su nombre de usuario.</li>
      </ul>
    </div>
  </div>

</main>

<%- include ../layouts/pie.ejs%> 
