<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/form.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <header>
      <h1>Crear nuevo usuario</h1> 
    </header>

    <section class="col-md-6">
      <form method="post" action="/users/insertUser" class="form" id="formulario">
        <div class="field">
          <label class="field-label" for="typeOfUser">Tipo de usuario:</label>
          <select class="field-input" name="typeOfUser">
            <% for( let tipoUsuario = 0; tipoUsuario < tiposUsuarios.length; tipoUsuario++ ) { %>
              <option value="<%=tiposUsuarios[tipoUsuario].codigo%>"><%=tiposUsuarios[tipoUsuario].tipo_usuario%></option>
            <% } %>
          </select>
        </div>
        <div class="field" id="group-name">
          <label class="field-label" for="name">Nombre:</label>
          <input class="field-input" type="text" name="name" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El nombre tiene que ser de 4 a 16 dígitos y no puede contener números.</p>
        </div>
        <div class="field" id="group-username">
          <label class="field-label" for="userName">Nombre de usuario:</label>
          <input class="field-input" type="text" name="userName" id="userName" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener números, letras y guion bajo.</p>
        </div>
        <div class="field" id="group-telefono">
          <label class="field-label" for="telefono">Teléfono:</label>
          <input class="field-input" type="tel" name="telefono" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El teléfono solo puede contener números y con un mínimo de 10 dígitos y un máximo de 14 dígitos.</p>
        </div>
        <div class="field" id="group-email">
          <label class="field-label" for="email">Correo electrónico:</label>
          <input class="field-input" type="email" name="email" id="email" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El correo solo puede contener letras, números, puntos, guiones y guion bajo.</p>
        </div>
        <div class="field" id="group-password">
          <label class="field-label" for="password">Contraseña:</label>
          <input class="field-input" type="password" name="password" id="password" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">
            Deben tener por lo menos 8 carácteres. <br>
            Deben tener al menos una minúscula, una mayúscula, un número y un caracter especial (@#$%!). <br>
            No deben contener caracteres repetidos tales como 1111, 2222, AAAA o CCCC.
          </p>
        </div>
        <div class="field" id="group-confirm_password">
          <label class="field-label" for="confirm_password">Repita la contraseña:</label>
          <input class="field-input" type="password" name="confirm_password" id="confirm_password" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">Las contraseñas no son iguales.</p>
        </div>
        <div class="field">
          <label class="field-label" for="status">Estado:</label>
          <select class="field-input" name="status">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
        <div class="buttons-container">
          <a href="/users" class="button-form" type="button">Cancelar</a>
          <button class="button-form button-primary" type="submit">Guardar</button>
        </div>
      </form>
    </section>

  </div>

</main>

<script src="/javascripts/createUserValidation.js"></script>
<%- include ../layouts/pie.ejs%> 
