<%- include ../layouts/cabeza.ejs %> 
<link rel="stylesheet" href="/stylesheets/form.css">
<%- include ../layouts/cabecera.ejs %> 

<%- include ../layouts/menu-lateral.ejs%> 

<main class="page-content" id="page-content">

  <div class="page-content-container">

    <header>
      <h1>Editar datos del usuario</h1> 
    </header>

    <section class="col-md-6">
      <form method="post" action="/users/editUser?codigo=<%=user[0].codigo%>" class="form" id="formulario">
        <div class="field">
          <label class="field-label" for="typeOfUser">Tipo de usuario:</label>
          <select class="field-input" name="typeOfUser" id="">
            <% for( let tipoUsuario = 0; tipoUsuario < tiposUsuarios.length; tipoUsuario++ ) { %>
              <% if (user[0].tipo_usuario === tiposUsuarios[tipoUsuario].tipo_usuario) { %>
                <option value="<%=tiposUsuarios[tipoUsuario].codigo%>" selected><%=tiposUsuarios[tipoUsuario].tipo_usuario%> </option>
               <% } else { %>
                <option value="<%=tiposUsuarios[tipoUsuario].codigo%>"><%=tiposUsuarios[tipoUsuario].tipo_usuario%> </option>
              <%}%>
            <% } %>
          </select>
        </div>
        <div class="field" id="group-name">
          <label class="field-label" for="name">Nombre:</label>
          <input class="field-input" value="<%=user[0].nombre%>" type="text" name="name" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El nombre tiene que ser de 4 a 16 dígitos y no puede contener números.</p>
        </div>
        <div class="field" id="group-username">
          <label class="field-label" for="username">Nombre de usuario:</label>
          <input class="field-input" id="userName" value="<%=user[0].nombre_usuario%>" type="text" name="userName" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener números, letras y guion bajo.</p>
        </div>
        <div class="field" id="group-telefono">
          <label class="field-label" for="phone">Teléfono:</label>
          <input class="field-input" value="<%=user[0].telefono%>" type="text" name="telefono" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El teléfono solo puede contener números y con un mínimo de 10 dígitos y un máximo de 14 dígitos.</p>
        </div>
        <div class="field" id="group-email">
          <label class="field-label" for="email">Correo electrónico:</label>
          <input class="field-input" value="<%=user[0].email%>" type="email" name="email" required>
          <span class="icon" id="icon">
          </span>
          <p class="input-message">El correo solo puede contener letras, números, puntos, guiones y guion bajo.</p>
        </div>
        <div class="field">
          <label class="field-label" for="status">Estado:</label>
          <select class="field-input" name="status" id="">
            <% if (user[0].estado === 'Activo') { %>
              <option value="true" selected>Activo</option>
              <option value="false">Inactivo</option>
            <% } else { %>
              <option value="true">Activo</option>
              <option value="false " selected>Inactivo</option>  
            <%}%>
          </select>
        </div>
        <div class="buttons-container">
          <a href="/users/myUserProfile?codigo=<%= user[0].codigo %>" class="button-form" type="button">Cancelar</a>
          <button class="button-form button-primary" type="submit">Guardar</button>
        </div>
      </form>
    </section>

  </div>

</main>

<script src="/javascripts/editUservalidation.js"></script>
<%- include ../layouts/pie.ejs%> 
