<%- include ../layouts/cabeza.ejs %>
  <link rel="stylesheet" href="/stylesheets/components.css">
  <link rel="stylesheet" href="/stylesheets/products/products.css">
  <%- include ../layouts/cabecera.ejs %>

    <%- include ../layouts/menu-lateral.ejs%>

    <%- include ../layouts/messages.ejs%>

      <main class="page-content" id="page-content">

        <div class="page-content-container">

          <a href="products/createProduct" class="button-new  button-open-dialog">
            <span class="button-new-icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                <path d="M11.075 18.8v-5.875H5.2V11.05h5.875V5.175h1.875v5.875h5.875v1.875H12.95V18.8Z" />
              </svg>
            </span>
            <span class="button-new-text">Crear nuevo producto</span>
          </a>

          <div class="input-area">
            <form method="post" action="/products/search" role="search">
              <div class="input-group  col-12  col-md-6">
                <input type="search" name="search" placeholder="Nombre del material..." class="input-search col-12" required>
                <button type="submit" class="button-search">
                  <span class="button-search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                      <path fill="currentColor"
                        d="M23.354 22.646l-5-5-.012-.007a8.532 8.532 0 10-.703.703l.007.012 5 5a.5.5 0 00.707-.707zM12 19.5a7.5 7.5 0 117.5-7.5 7.508 7.508 0 01-7.5 7.5z">
                      </path>
                    </svg>
                  </span>
                </button>
              </div>
            </form>
            <form method="post" action="/products/searchFilter">
              <div class="search-filter">
                <div class="search-filter-container">
                  <button class="button-filter" name="filter" value="Todos" type="submit" id="btn-todos">
                    <span class="button-text">Todos</span>
                  </button>
                  <button class="button-filter" name="filter" value="Activos" type="submit" id="btn-activos">
                    <span class="button-text">Activos</span>
                  </button>
                  <button class="button-filter" name="filter" value="Inactivos" type="submit" id="btn-inactivos">
                    <span class="button-text">Inactivos</span>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <h1>Lista de productos</h1>

          <section class="result-area">
            <% if (products.length > 0) { %>
              <% for( let product=0; product < products.length; product++ ) { %>
                <article class="card-result  col-12  col-md-6  col-lg-4">
                  <div class="card-result-container">
                    <div class="card-area-photo">
                      <% if (products[product].foto != '') { %>
                        <img src="/images/products/<%=products[product].foto%>" alt="Foto del material.<%=products[product].nombre%>">
                      <% } else { %>
                        <img src="images/add-image.png" alt="Agregar imagen de producto">
                      <% } %>
                    </div>
                    <header class="card-result-header">
                      <h2><%=products[product].nombre%></h2>
                      <p class="card-price-text">$<%=products[product].precio%></p>
                      <div class="card-result-options">
                        <form method="get" action="/products/editProduct">
                          <button type="submit" class="button" id="button-edit" name="codigo" value="<%=products[product].codigo%>">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                <path
                                  d="m19.3 8.925-4.25-4.2 1.4-1.4q.575-.575 1.413-.575.837 0 1.412.575l1.4 1.4q.575.575.6 1.388.025.812-.55 1.387ZM17.85 10.4 7.25 21H3v-4.25l10.6-10.6Z">
                                </path>
                              </svg>
                          </button>
                        </form>
                        <button class="button button-delete">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                              <path
                                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21Zm2-4h2V8H9Zm4 0h2V8h-2Z">
                              </path>
                            </svg>
                          </span>
                        </button>
                      </div>
                    </header>
                  </div>
                </article>
                <% } %>          
            <% } else { %>
              <%- include ../layouts/noFound.ejs%>
            <% } %>
          </section>
        </div>
      </main>

      <script src="/javascripts/button-selected.js"></script>
      <script src="/javascripts/message.js"></script>
      <%- include ../layouts/pie.ejs%>